<div class="projectsBlock">
  <h1>Project: <%= @project.name %></h1>
  <div>Material: <%= @project.material %></div>
  <div>Theme: <%= @project.challenge.theme %></div>
  <div>Number of Contestants: <%= @project.contestants.count %></div> 
</div>